@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
   scroll-behavior: smooth;
}

body {
   background-color: #F1F2F0;
   margin: 0;
}

.titulo {
   font-family: 'Poppins', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 25PX;
}

.corpo {
   font-family: 'Poppins', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 25PX;
   background-color: #929e77;
   align-self: center;
   margin-top: 50px;
   margin-left: 400px;
   margin-right: 400px;
   padding: 100px 100px;
}

.botao {
   font-family: 'Poppins', sans-serif;
   background-color: white;
   padding: 4px 10px;
   border: none;
   border-radius: 10px;
   font-size: 17px;
}

.select {
   font-family: 'Poppins', sans-serif;
   background-color: white;
   border: none;
   border-radius: 10px;
   margin-left: 5px;
   margin-right: 5px;
   width: 100px;
   height: 20px;

}

.input {
   font-family: 'Poppins', sans-serif;
   background-color: white;
   border: none;
   border-radius: 5px;
   padding: 1px;
   width: 100px;
   height: 20px;

}

/* estilizacao header */
.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   width: 100%;
   height: 80px;
   background-color: #F1F2F0;
}

.header-msg {
   margin-right: 100px;
   display: flex;
   
}


.header-nav {
   display: flex;
   align-items: center;
   gap: 30px;
}

.header-nav a {
   font-family: Poppins, sans-serif;
   font-size: 16px;
   font-weight: 600;
   color: rgba(0, 0, 0, 0.8);
   text-decoration: none;
   transition: color 0.3s ease;
}

.header-nav a:hover {
   color: black;
   font-size: 18px;
}

.header-left {
   display: flex;
   align-items: center;
}

.img-header {
   width: 60px;
   height: 60px;
   margin-left: 35px;
}

.h3-header {
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   margin-left: 20px;
}

.button-header {
   width: 70px;
   height: 45px;
   margin-right: 25px;
   background-color: black;
   color: white;
   font-family: 'Poppins', sans-serif;
   border-radius: 15px;
   transition: all 0.3s ease;
}

.button-header:hover {
   width: 80px;
   height: 50px;
}

/* fim estilizacao header */

/* ESTILIZACAO SECAO 1 */

.secao1 {
   display: flex;
   flex-direction: row;
   font-family: 'Poppins', sans-serif;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.secao1-left {
   flex-direction: column;
   margin-left: 150px;
}

.secao1-img {
   width: 50%;
   height: 975px;
   margin-left: auto;
}

.secao1-h1 {
   font-size: 78px;
   margin-top: 175px;
}

.secao1-subtitulo {
   margin-top: -45px;
   color: rgba(0, 0, 0, 0.603);
   font-weight: bold;
   font-size: 28px;
}

.secao1-button1 {
   width: 200px;
   height: 65px;
   margin-right: 25px;
   background-color: black;
   color: white;
   font-family: 'Poppins', sans-serif;
   border-radius: 15px;
   font-size: 25px;
   transition: all 0.3s ease;
}

.secao1-button1:hover {
   width: 250px;
   height: 70px;
}

.secao1-button2 {
   width: 390px;
   height: 65px;
   font-size: 25px;
   background-color: white;
   color: black;
   font-family: 'Poppins', sans-serif;
   border-radius: 15px;
   border: 3px solid;
   border-color: rgba(0, 0, 0, 0.158);
   transition: all 0.3s ease;
}

.secao1-button2:hover {
   width: 440px;
   height: 70px;
}

.secao1-organizacao-button {
   display: flex;
   flex-direction: row;
}

.secao1-subtexto {
   width: 620px;
   font-size: 22px;
   font-weight: bold;
   color: rgba(0, 0, 0, 0.808);
   margin-top: 45px;
   margin-bottom: 35px;
   text-align: left;
}

.secao1-span-dados {
   color: #2f4fa7;
   font-style: oblique;
}

.secao1-span-umidade {
   color: rgb(209, 67, 67);
   font-style: oblique;
}

.secao1-span-producao {
   color: #015305;
   font-style: oblique;
}

.secao1-checklists {
   font-weight: bold;
   font-size: 20px;
   color: rgba(0, 0, 0, 0.603);
   margin-top: 10px;
   display: flex;
   flex-direction: row;
}

.secao1-checklists p {
   margin-right: 15px;
}

/* FIM ESTILIZACAO SECAO 1 */


/* ESTILIZAÇAO DO SOBRE NOS */

.sobreNos {
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   font-family: 'Poppins', sans-serif;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sobreNos h1 {
   font-size: 60px;
   /* margin-top: 175px; */
   margin-left: 150px;
}

.sobreNos-conteudo {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.sobreNos img {
   width: 600px;
   /* margin-left: 150px; */
   margin-right: -150px;
   margin-bottom: 100px;
}

.sobreNos-conteudo-textos h2 {
   font-size: 32px;
}

.sobreNos-conteudo-textos p {
   font-size: 22px;
   width: 800px;
   text-align: justify;
}

/* FIM DA ESTILIZACAO DO SOBRE NOS*/

/* ESTILIZACAO DA SECAO TECNOLOGIAS */

.tecnologias {
   display: flex;
   flex-direction: column;
   font-family: 'Poppins', sans-serif;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tecnologias h1 {
   font-size: 60px;
   margin-top: 100px;
   text-align: center;
}

.tecnologias p {
   font-size: 22px;
   margin-top: -20px;
   margin-left: 150px;
   margin-right: 220px;
   text-align: center;
   margin-bottom: 70px;
}

.tecnologias-imagens {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom: 100px;
   margin-right: 100px;
   margin-left: 100px;
}

.tecnologias img {
   width: 500px;
   height: 400px;
   transition: all 0.3s ease;
   border-radius: 25px;
   object-fit: cover;
   /* isso aqui serve pra deixar a animaçao de aumentar a imagem mais fluida */
}

.tecnologias img:hover {
   width: 600px;
   height: 450px;
}

/* FIM DA ESTILIZACAO DA SECAO TECNOLOGIAS */

/* ESTILIZACAO DO FOOTER */

.footer {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   width: 100%;
   height: 80px;
   background-color: #d7dbd2;
   font-family: Poppins, sans-serif;
}  

/* FIM DA ESTILIZACAO DO FOOTER */

.corpodashboard {
   font-family: 'Poppins', sans-serif;
}

.grafico {
   flex: 1;
   background-color: white;
   border-radius: 32px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
   height: 230px;
   display: flex;
   flex-direction: column;
   gap: 1px;
   padding-bottom: 30px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 5px;
}

.grafico canvas {
   width: 380px;
   flex: 1;
}

.kpis {
   display: flex;
   justify-content: center;
   gap: 100px;
   margin: 10px;
}

.kpi {
   display: flex;
   background-color: white;
   padding: 10px;
   border-radius: 12px;
   box-shadow: 0 5px 8px rgb(126, 126, 126);
   transition: transform 0.2s ease, box-shadow 0.2s ease;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
   width: 220px;
   height: 140px;
}

.kpi_titulo {
   font-size: 14px;
   color: #6c757d;

}

.kpi_valor {
   font-size: 28px;
   margin-top: 5px;
   font-weight: 600;
   color: #2c3e50;
}

.kpi_destaque {
   border-left: 5px solid #2c7be5;
}

.kpi_legenda {
   font-size: 15px;
   color: #6c757d;
   margin-top: -20px;
}

.containerkpi {
   max-width: 2000px;
   margin: auto;
}

.graficoslinha {
   display: flex;
   gap: 20px;
   margin: 20px;
}

select {
   margin: 20px;
   padding: 8px;
   border-radius: 8px;
   border: 1px solid #ccc;
   margin: 0;
   width: fit-content;
}

.grafico_titulo {
   font-weight: 500;
   font-size: 20px;
}

/* INICIO ESTILIZACAO DA SECAO IMPORTANCIA */

.secao-importancia {
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   padding-bottom: 150px;
   background-color: #dfdfdf;
   padding-top: 80px;
}

.secao-importancia h1 {
   font-size: 60px;
   font-family: Poppins, sans-serif;
   text-align: left;
   margin-left: 150px;
}

.importancia-cards {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 50px;
   margin-left: 100px;
   margin-right: 100px;
}

.importancia-cards p {
   text-align: justify;
}

.importancia-cards div {
   width: 400px;
   height: 200px;
   padding: 20px;
   font-family: Poppins, sans-serif;
   border-radius: 25px;
   background-color: #F1F2F0;
   transition: all 0.5s ease;
}

.importancia-card-sensivel {
   border: 2px solid rgba(67, 132, 230, 0.315);
}

.importancia-card-ambiental {
   border: 2px solid rgba(12, 133, 38, 0.315);
}

.importancia-card-perda {
   border: 2px solid rgba(230, 67, 67, 0.315);
}

.importancia-cards div:hover {
   width: 450px;
}

/* FIM DA ESTILIZACAO DA SECAO IMPORTANCIA */

/* INICIO DA ESTILIZACAO CALCULADORA FINANCEIRA */

.calculadora-financeira {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-family: Poppins, sans-serif;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   padding-bottom: 150px;
   background-color: #dfdfdf;
   padding-top: 80px;
}

.calculadora-financeira h1 {
   font-size: 60px;
   width: 800px;
   text-align: left;
   margin-bottom: -10px;
}

.calculadora-financeira-textos {
   display: flex;
   flex-direction: column;
   width: 600px;
   text-align: justify;
}

.calculadora-financeira-subtexto {
   color: rgba(0, 0, 0, 0.418);
   font-size: 12px;
   margin-top: -5px;
}

.calculadora-form {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   background-color: #929e7771;
   height: 450px;
   width: 400px;
   padding: 50px;
   border-radius: 25px;
}

.calculadora-form h3 {
   margin-top: -20px;
   font-size: 22px;
}

.calculadora-form button {
   background-color: black;
   color: white;
   border: none;
   border-radius: 10px;
   width: 400px;
   height: 40px;
   font-family: Poppins, sans-serif;
}

.calculadora-form select {
   margin-bottom: 15px;
}

.calculadora-form input {
   height: 20px;
   border-radius: 10px;
   border: none;
   margin-bottom: 15px;
   padding: 10px;
}

.div-resultado {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   background-color: #F1F2F0;
   height: 370px;
   width: 300px;
   padding: 50px;
   border-radius: 25px;
}

/* FIM DA ESTILIZACAO CALCULADORA FINANCEIRA */

/* INICIO ESTILIZACAO DA SECAO COMPARATIVO */

.secao-comparativo {
   display: flex;
   flex-direction: column;
   font-family: 'Poppins', sans-serif;
   padding-bottom: 90px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.secao-comparativo h1 {
   font-size: 60px;
   margin-top: 90px;
   margin-left: 150px;
   margin-right: 150px;
}

.secao-comparativo-subtitulo {
   font-size: 22px;
   margin-left: 150px;
   margin-right: 220px;
   margin-top: -10px;
   text-align: left;
}

.secao-comparativo-cards {
   display: flex;
   justify-content: center;
   gap: 40px;
   margin-left: 150px;
   margin-right: 150px;
   margin-top: 30px;

}

.comparativo-card  {
   background-color: white;
   border-radius: 24px;
   box-shadow: rgba(0, 0, 0, 0.08);
   padding: 40px;
   flex: 1;
}

.comparativo-card h2 {
   font-size: 28px;
   margin-top: 0;
}

.comparativo-card ul {
   list-style: none;
   padding: 0;
}

.comparativo-card ul li {
   font-size: 19px;
   padding: 12px 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}


.semHygra h2 {
   color: #d63031;
}

.semHygra ul li::before {
   content: "✗ ";
   color: #d63031;
   font-weight: bold;
}

.comHygra h2 {
   color: #015305;
}

.comHygra ul li::before {
   content: "✓ ";
   color: #015305;
   font-weight: bold;
}



/* FIM DA ESTILIZACAO SECAO COMPARATIVO */