@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.body {
   background-color: white;
}

.titulo {
   font-family: 'Poppins', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 25PX;
}

.corpo {
   font-family: 'Poppins', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 25PX;
   background-color: #929e77;
   align-self: center;
   margin-top: 50px;
   margin-left: 400px;
   margin-right: 400px;
   padding: 100px 100px;
}

.botao {
   font-family: 'Poppins', sans-serif;
   background-color: white;
   padding: 4px 10px;
   border: none;
   border-radius: 10px;
   font-size: 17px;
}

.select {
   font-family: 'Poppins', sans-serif;
   background-color: white;
   border: none;
   border-radius: 10px;
   margin-left: 5px;
   margin-right: 5px;
   width: 100px;
   height: 20px;

}

.input {
   font-family: 'Poppins', sans-serif;
   background-color: white;
   border: none;
   border-radius: 5px;
   padding: 1px;
   width: 100px;
   height: 20px;

}